.container{
  font-family: 'Source Sans Pro', sans-serif;
}



.nightSnowy{
  background-color: #46699E;

}

.sunny{
  background-color: #ffa40b;
}

.cloudlySun{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #808080), color-stop(69%, #d0e2ed), color-stop(100%, #ffa40b));
  

}



.city{
  font-size:1.125em;
  font-weight:900;
}

.cityName{
  font-size: 2.125em;
  font-weight: 600;
}

.dayTime{
  font-size: 1.25em;
  font-weight: 600;
}

.temperature{
  font-weight: 700;
  font-size: 6.75em;
}

.windSpeed{
  font-size: 1.25em;
}

.iconSizeBig{
  
  font-size:5.7em;
}

.dayInfo{
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.bottomWeather{
  font-size: 1.562em;
  
}

.bottomBox{
  width:33.33%;
  height:5em;
}


