html {
  font-family: sans-serif;
}

.hoverEffectContainer {
  position: relative;
  height: 257px;
  width: 349px;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  background-color: transparent;
  overflow: hidden;
}

.upside {
  left: 222px;
  bottom: 260px;
  transform-origin: bottom right;
}

.downside {
  top: 257px;
  transform-origin: top left;
}

.transform {
  position: absolute;
  z-index: 1;
  width: 130px;
  height: 352px;
  background-color: black;
  opacity: 0.6;
  transition: transform 300ms ease-in-out;
}

.hoverEffectContainer:hover .upside {
  transform: rotate(-90deg);
}

.hoverEffectContainer:hover .downside {
  transform: rotate(-90deg);
}


img {
  position: absolute;
  height: 100%;
  transition: all 300ms ease;
}

.hoverEffectContainer:hover img {
  transform: scale(1.3) rotate(8deg);
  filter: sepia(50);
}

.textAnimation {
  text-shadow: 0 0 2px black;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 1;
  transform: scale(0);
  transition: all 200ms ease 300ms;
}

.hoverEffectContainer:hover .textAnimation {
  transform: scale(1);
}

.topRightBar {
  z-index: 1;
  position: absolute;
  width: 47px;
  height: 116px;
  top: -116px;
  right: 0;
  background-color: #004bbe;
  border-radius: 0 0 0 13px;
  transition: all 200ms ease 300ms;
}

.hoverEffectContainer:hover .topRightBar {
  transform: translate(0px, 116px);
}

.upsideButton,
.downsideButton {
  height: 36px;
  width: 36px;
  margin: 5px 0px;
  box-sizing: border-box;
  color: white;
  border-radius: 10px;
  transition: all 300ms ease;
}

.upsideButton:hover,
.downsideButton:hover {
  box-shadow: 0 0 0 3px #fff, 0 0 9px #000 inset;
}
